<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amca.android.replace"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.amca.android.replace.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.amca.android.replace.PlaceType"
            android:label="@string/title_activity_place_type" >
        </activity>
        <activity
            android:name="com.amca.android.replace.PlaceSelector"
            android:label="@string/title_activity_place_selector" >
        </activity>
        <activity
            android:name="com.amca.android.replace.PlaceDetail"
            android:label="@string/title_activity_place_detail" >
        </activity>
        <activity
            android:name="com.amca.android.replace.PlaceReviews"
            android:label="@string/title_activity_place_reviews" >
        </activity>
        <activity
            android:name="com.amca.android.replace.Settings"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>